.dark,
.dark-theme {
  --orange-1: #38312e;
  --orange-2: #3e322d;
  --orange-3: #53372a;
  --orange-4: #67361c;
  --orange-5: #733c20;
  --orange-6: #7f472b;
  --orange-7: #935435;
  --orange-8: #b5653c;
  --orange-9: #ff7318;
  --orange-10: #f26700;
  --orange-11: #ffa36f;
  --orange-12: #ffdcc9;

  --orange-a1: #fb310024;
  --orange-a2: #ff38002a;
  --orange-a3: #fc490042;
  --orange-a4: #fd400058;
  --orange-a5: #fe4d0065;
  --orange-a6: #ff630072;
  --orange-a7: #ff731388;
  --orange-a8: #fe7d2dae;
  --orange-a9: #ff7318;
  --orange-a10: #ff6a00f1;
  --orange-a11: #ffa36f;
  --orange-a12: #ffdcc9;

  --orange-contrast: #fff;
  --orange-surface: #64330080;
  --orange-indicator: #ff7318;
  --orange-track: #ff7318;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --orange-1: oklch(31.9% 0.012 46.39);
      --orange-2: oklch(32.9% 0.0193 46.39);
      --orange-3: oklch(36.6% 0.0455 46.39);
      --orange-4: oklch(39% 0.0801 46.39);
      --orange-5: oklch(41.9% 0.0873 46.39);
      --orange-6: oklch(45.9% 0.0873 46.39);
      --orange-7: oklch(51.4% 0.0952 46.39);
      --orange-8: oklch(58.9% 0.1168 46.39);
      --orange-9: oklch(71.4% 0.1921 46.39);
      --orange-10: oklch(67.7% 0.1921 46.39);
      --orange-11: oklch(81.1% 0.164 46.39);
      --orange-12: oklch(92.5% 0.0527 46.39);

      --orange-a1: color(display-p3 0.9961 0.2235 0 / 0.112);
      --orange-a2: color(display-p3 0.9961 0.2471 0 / 0.134);
      --orange-a3: color(display-p3 1 0.3294 0 / 0.218);
      --orange-a4: color(display-p3 1 0.298 0 / 0.294);
      --orange-a5: color(display-p3 1 0.3608 0 / 0.347);
      --orange-a6: color(display-p3 1 0.4471 0 / 0.396);
      --orange-a7: color(display-p3 1 0.5098 0.102 / 0.48);
      --orange-a8: color(display-p3 1 0.549 0.2157 / 0.623);
      --orange-a9: color(display-p3 1 0.5059 0.2078 / 0.925);
      --orange-a10: color(display-p3 1 0.4784 0.1451 / 0.867);
      --orange-a11: color(display-p3 1 0.6824 0.4784 / 0.943);
      --orange-a12: color(display-p3 1 0.8863 0.8118 / 0.974);

      --orange-contrast: #fff;
      --orange-surface: color(display-p3 0.3529 0.2118 0.0078 / 0.5);
      --orange-indicator: oklch(71.4% 0.1921 46.39);
      --orange-track: oklch(71.4% 0.1921 46.39);
    }
  }
}

.dark,
.dark-theme {
  --gray-1: #273347;
  --gray-2: #2c384e;
  --gray-3: #2d3f5e;
  --gray-4: #2c436c;
  --gray-5: #2d4775;
  --gray-6: #2c4c85;
  --gray-7: #2e569c;
  --gray-8: #426db8;
  --gray-9: #4c77c3;
  --gray-10: #5682ce;
  --gray-11: #91b8fc;
  --gray-12: #e3efff;

  --gray-a1: #fa4f0011;
  --gray-a2: #f67f0017;
  --gray-a3: #f8c66818;
  --gray-a4: #edf1fd18;
  --gray-a5: #a5c5ff26;
  --gray-a6: #699fff3f;
  --gray-a7: #5090fd64;
  --gray-a8: #639cff90;
  --gray-a9: #6aa0ffa1;
  --gray-a10: #71a5ffb2;
  --gray-a11: #93bafffb;
  --gray-a12: #e3efff;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #4c77c3;
  --gray-track: #4c77c3;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(31.9% 0.0407 260.8);
      --gray-2: oklch(34.1% 0.0418 260.8);
      --gray-3: oklch(36.8% 0.0586 260.8);
      --gray-4: oklch(38.5% 0.0752 260.8);
      --gray-5: oklch(40.1% 0.0845 260.8);
      --gray-6: oklch(42.2% 0.1017 260.8);
      --gray-7: oklch(46.1% 0.1234 260.8);
      --gray-8: oklch(54.1% 0.1267 260.8);
      --gray-9: oklch(57.5% 0.1267 260.8);
      --gray-10: oklch(60.8% 0.1267 260.8);
      --gray-11: oklch(78% 0.1065 260.8);
      --gray-12: oklch(94.9% 0.0287 260.8);

      --gray-a1: color(display-p3 1 0.4314 0 / 0.049);
      --gray-a2: color(display-p3 0.9922 0.6235 0 / 0.072);
      --gray-a3: color(display-p3 0.9961 0.8353 0.4471 / 0.085);
      --gray-a4: color(display-p3 0.9373 0.9647 1 / 0.091);
      --gray-a5: color(display-p3 0.6824 0.7804 1 / 0.146);
      --gray-a6: color(display-p3 0.4667 0.6353 1 / 0.237);
      --gray-a7: color(display-p3 0.3961 0.5804 1 / 0.37);
      --gray-a8: color(display-p3 0.451 0.6275 1 / 0.54);
      --gray-a9: color(display-p3 0.4863 0.6471 1 / 0.6);
      --gray-a10: color(display-p3 0.5059 0.6667 1 / 0.667);
      --gray-a11: color(display-p3 0.6275 0.7451 1 / 0.952);
      --gray-a12: color(display-p3 0.9098 0.9451 1 / 0.988);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(57.5% 0.1267 260.8);
      --gray-track: oklch(57.5% 0.1267 260.8);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #18315d;
}
